/* Global */
.clr{
    clear: both;
}
.container{
    width:90%;
    margin: auto;
    overflow: auto;
}
/*-------- header------- */
header{
    background-image: url('../img/barber-15.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    
}
.bkg{
    background-color:rgba( 0,0,0,0.3 );
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#navbar{
    background-color: rgba( 93,88,81,0.90 );
    position: fixed;
   top:0px;
   left:6px;
   right: 7px;
   z-index: 2;
   text-transform: capitalize;
}

#nav-scroll{
        background-color: rgba(93, 88, 81, 0.9) ;
        color:white;
}

.nav-left{
    float:left;
}

.nav-left img{
    width: 130px;
}
.nav-right{
    float: right;
}
a{
  text-decoration: none;
  color: white;
}
.main-menu {
    overflow: auto;
    margin: 0px;
}
.main-menu  li{
    list-style: none;
    float: left;
    padding:15px 15px; 
    font-size: 18px;
    margin-top:10px ;
}
li .active{
    color: #e0c690;
    border-top: 3px solid #e0c690;
    padding:22px 9px 0px 9px;
}
a:hover  {
    color: #e0c690;

}
/*-----dropdown menu-----*/
.dropdown-menu {
    background-color:rgba(67,62,55,0.95) ;
    display:none;
  position: absolute;
    z-index: 1;
    top:69px;
    right:180px;
    padding-left: 0;
   width:220px;
   border-top:1px  #424242;
}
.dropdown-menu li{
    font-size: 16px;
    font-weight: 400;
   display: block;
   width:190px;
   height:12px;
}

.dropdown-menu li:hover{
    background-color: #e0c690;
    font-size:18px;

}
.dropdown-menu a:hover{
    color: white;
}
.content:hover .dropdown-menu{
    display: block;
}
/**header-text***/
.header-desc{
    width: 40%;
    font-family:'Open Sans',arial;
    position: absolute;
    top:150px;
}
.header-desc span{
    text-transform: capitalize;
}
.header-desc h1{
    color: white;
    font-size: 70px;
    line-height: 1.5em;
    margin-bottom:10px;

}
.header-desc p{
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Open Sans',arial;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.8em;
    margin-bottom:50px;
}
.button1{
    color: #fff;
    background-color: #e0c690;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    padding: 15px;
    margin:20px 10px 0px 0px;
    text-transform: uppercase;
}
.header-desc a:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;

}

/*---fixed demo-----*/
.demo{
    position: fixed;
    background-color: #fff;
    border-radius: 4px 0px 0px 4px;
    top: 200px;
    right:0px;
    width:30px;
    font-size:19px;
    font-weight: 400;
    color:#686868;
    text-align: center;
    padding: 15px 5px 0px 5px;
    
}
.demo i{
    color:rgb(107, 104, 104);
    padding-bottom: 20px;
    
}

.demo a:hover i{
    color: blue ;
}
/**feature-section**/
.feature{
    margin-top:6%;
    overflow: auto;
    text-align: center;
}

.feature span i{
    box-sizing: border-box;
    padding-top: 25px;
    color: #fff;
    width:80px;
    height:80px;
    border-radius: 100%;
    background-color: #ae9768;
    font-size:26px;

}
.feature h3{
    color:#ae9768;
    margin-top:20%;
    text-transform:capitalize;
}
.feature p{
    font-size: 14px;
    color: #888;
    margin: 0;
    line-height: 1.86em;
}
.feature p span{
    text-transform:capitalize;
}
.feature .box{
   float: left;
   width: 22%;
   text-align: center;
   padding: 0px 1%;
}
/**-------desc--------***/
.desc{
    background-color: #f1f1f1;
    margin-top:10%;
    color: #686868;
    line-height: 1.8em;
    overflow: auto;
    padding-top:6%;
    padding-bottom: 3%;
}
.desc-left{
    float:left;
    width: 60%;
}
.desc-left h2 ,h3{
    color:#ae9768;
    font-weight: 400px;
    text-transform:capitalize;

}
.desc-left p span{
    text-transform:capitalize;
}
.desc-left article .row {
    overflow:auto;
}
.desc-left article .row .desc-box{
    width: 40%;
    float: left;
    padding-right: 20px;

}
.desc-right{
    float: right;
    width: 40%;
}
.desc-right img{
    width: 100%;
}
/*--------testimonial-------*/
.testimonial{
    margin-top:10%;
    background-image: url('../img/barber-2.jpg');
    background-size:100%;
    background-position:center;
    height: 650px;
}
.testimonial span i{
    font-size:35px;
}
.testimonial .content{
    padding-top: 8%;
    color: #fff;
    text-align: center;
}
.content h3{
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
}
.content p{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.8em;
}
.content p span{
    text-transform:capitalize;
}
.content h5{
    font-size: 20px;
    font-weight: 400;
    text-transform:capitalize;
}
.content h6{
    font-size: 15px;
    font-weight: 400;
    text-transform:capitalize;
}
.content i{
    padding:0px 5px;
    font-size: 18px;
}
.content  .i{
    border: 1px solid #FFF;
    border-radius: 100%;
    padding: 10px 12px ;
    margin-right: 9px;
}
.content  i:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;

}

/*---------features-------*/
.features{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #888;
    overflow: auto;
}
.features p span{
    text-transform: capitalize;
}
 h2,h3{
    color: #ae9768;
    text-transform:capitalize;

}
.row .cont-left h3{
    text-align: left;
    margin-left: 2px;
}
.features .row p{
    text-align: left;
}

.features .row .icon-left {
    float: left;
    width: 1%;
    margin-right: 2%;
}
.features .row .cont-left{
    float: left;
    width: 28%;
    margin-right: 1%;
   
}
.icon-left{
    margin:20px 10px;
    font-size: 20px;
}
/*-----contact-------*/
.contact{
    padding-top: 15px;
    background-color: #F8F8F8;
    line-height: 1.8rem;
    color: 888;

}
.contact span{
    text-transform: capitalize;
}
.contact-left{
    float: left;
    width: 45%;
    padding-right: 1%;
}
.contact-right{
    float:left;
    width: 50%;
}
.contact-info i{
    background-color:rgb(174, 151, 104);
    color:#FFF;
    padding: 10px;
    border-radius: 100%;
    margin-right: 12px;
}
.container-google{
    width: 80%;
    margin: auto;
    position: relative;

}

.google{
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    z-index: 1;
    position: absolute;
    left:60px;
    top:20px;
    padding: 20px;

    
}
table,td {
    border: 1px solid rgb(161, 146, 146);
    border-collapse: collapse;
    padding: 5px 25px;
   

}
td{
    background-color: #F8F8F8;
}
td a{
    color: #888;
}
td a:hover{
    color: #888;

}
.button2{
    color: #1a73e8;
    font-weight:800;
    padding: 15px  20px;
    background-color: #FFF;
    border: 1px solid gray;
    border-radius: 4px;
}
.button2:hover{
    border: 1px solid #dadce0;
    background-color:#dadce0 ;
}

/*------footer---------*/
footer{
    color: #969696;
    background-color: #403d38;
    line-height: 1.8em;
    overflow: auto;
    font-size:13px;
}
footer h2{
    color: #fff;
}
footer .foot-left{
    float: left;
    width: 50%;
    overflow: auto;

}
footer .foot-right{
    float: right;
    width: 50%;
    overflow: auto;

}
.foot-left .foot-left1{
    float: left;
    width: 35%;
}
.foot-left .foot-left2{
    float: left;
    width: 50%;
   
}
.f-10{
    font-size: 10px;
    padding-right: 8px;
}
.foot-right .foot-right1{
    float: left;
    width:50%;
    margin-right:20px;
}
.foot-right .foot-right1 ul{
    list-style: none;
}
.foot-right .foot-right1 ul li{
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 10px;
}
.foot-right1 ul li:last-child{
    border: none;
}
.foot-right .foot-right2{
    float: left;
    width:40%;
    position: relative;

}
.contact-details{
    background-image: url('../img/contact-details-map.png');
    background-repeat: no-repeat;
    background-position: center center ;

}
.item {
    color: #969696;

}
.foot-right .foot-right2 span p{
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 10px;
    
}
#last{
    border: none;;
}
.contact-details i{
    margin-right:15px;
}
/*------footer section bottom-------*/
.footer-botom{
    padding-top: 5%;
    background:#151515;
    text-align: center;
    height: 327px;
    color: #777;
}
.contact-icon{
    margin-top: 30px;
}
.contact-icon a{
    border-radius: 100%;
    background-color: #484540;
    color:#8c8a86;
    margin-right: 8px;
    margin-top: 20px;
    padding: 15px;
    width: 60px;
    height: 60px;
    font-size:20px;
    text-align: center;
}
.contact-icon a i{
    color: rgb(107, 104, 104);
    text-align: center;
    width: 24px;   
    height: 22px;

}


.contact-icon a:hover{
    background-color:  #0275d8;
}
